{% extends "base.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1 class="text-center text-5xl font-bold my-10">Willkommen</h1>
    <section class="mx-auto w-fit border border-gray-200 bg-white">
        <div class="space-y-10 p-10">
            <h2 class="text-3xl font-bold mb-5">Wie ist diese Website zu benutzen?</h2>
            <div class="flex items-center gap-2">
                <svg width="42" height="43" viewBox="0 0 42 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M24.3926 32.8433H19.8662V20.4507C19.8662 20.1089 19.8711 19.689 19.8809 19.1909C19.8906 18.6831 19.9053 18.1655 19.9248 17.6382C19.9443 17.1011 19.9639 16.6177 19.9834 16.188C19.876 16.3149 19.6562 16.5347 19.3242 16.8472C19.002 17.1499 18.6992 17.4233 18.416 17.6675L15.9551 19.645L13.7725 16.9204L20.6719 11.4272H24.3926V32.8433Z" fill="#4F5B93"/>
                    <circle cx="21" cy="21.8433" r="19" stroke="#4F5B93" stroke-width="4"/>
                </svg>
                <p class="text-lg">Suche dir einen der 3 Testfälle über das Menü aus. <br> Beim Navigieren auf diese Seite werden die Testfälle vorbereitet (z.B.: Datenbank gefüllt)</p>
            </div>
            <div class="flex items-center gap-2">
                <svg width="42" height="43" viewBox="0 0 42 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M28.1719 32.8433H13.2012V29.6938L18.5771 24.2593C19.6611 23.146 20.5303 22.2183 21.1846 21.4761C21.8486 20.7241 22.3271 20.0405 22.6201 19.4253C22.9229 18.8101 23.0742 18.1509 23.0742 17.4478C23.0742 16.5981 22.835 15.9634 22.3564 15.5435C21.8877 15.1138 21.2578 14.8989 20.4668 14.8989C19.6367 14.8989 18.8311 15.0894 18.0498 15.4702C17.2686 15.8511 16.4531 16.3931 15.6035 17.0962L13.1426 14.1812C13.7578 13.6538 14.4072 13.1558 15.0908 12.687C15.7842 12.2183 16.585 11.8423 17.4932 11.5591C18.4111 11.2661 19.5098 11.1196 20.7891 11.1196C22.1953 11.1196 23.4014 11.3735 24.4072 11.8813C25.4229 12.3892 26.2041 13.0825 26.751 13.9614C27.2979 14.8306 27.5713 15.8169 27.5713 16.9204C27.5713 18.1021 27.3369 19.1812 26.8682 20.1577C26.3994 21.1343 25.7158 22.1011 24.8174 23.0581C23.9287 24.0151 22.8545 25.0747 21.5947 26.2368L18.8408 28.8296V29.0347H28.1719V32.8433Z" fill="#4F5B93"/>
                    <circle cx="21" cy="21.8433" r="19" stroke="#4F5B93" stroke-width="4"/>
                </svg>
                <p class="text-lg text-center">Suche dir nun die Bibliothek aus, mit der du den Testfall durchlaufen willst.</p>
            </div>
            <div class="flex items-center gap-2">
                <svg width="42" height="43" viewBox="0 0 42 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M27.3369 16.2173C27.3369 17.2036 27.1318 18.0581 26.7217 18.7808C26.3115 19.5034 25.7549 20.0942 25.0518 20.5532C24.3584 21.0122 23.5771 21.3491 22.708 21.564V21.6519C24.4268 21.8667 25.7305 22.394 26.6191 23.2339C27.5176 24.0737 27.9668 25.1968 27.9668 26.603C27.9668 27.853 27.6592 28.9712 27.0439 29.9575C26.4385 30.9438 25.501 31.7202 24.2314 32.2866C22.9619 32.853 21.3262 33.1362 19.3242 33.1362C18.1426 33.1362 17.0391 33.0386 16.0137 32.8433C14.998 32.6577 14.041 32.3696 13.1426 31.979V28.1265C14.0605 28.5952 15.0225 28.9517 16.0283 29.1958C17.0342 29.4302 17.9717 29.5474 18.8408 29.5474C20.4619 29.5474 21.5947 29.269 22.2393 28.7124C22.8936 28.146 23.2207 27.355 23.2207 26.3394C23.2207 25.7437 23.0693 25.2407 22.7666 24.8306C22.4639 24.4204 21.9365 24.1079 21.1846 23.8931C20.4424 23.6782 19.4023 23.5708 18.0645 23.5708H16.4385V20.0991H18.0938C19.4121 20.0991 20.4131 19.9771 21.0967 19.7329C21.79 19.479 22.2588 19.1372 22.5029 18.7075C22.7568 18.2681 22.8838 17.77 22.8838 17.2134C22.8838 16.4517 22.6494 15.856 22.1807 15.4263C21.7119 14.9966 20.9307 14.7817 19.8369 14.7817C19.1533 14.7817 18.5283 14.8696 17.9619 15.0454C17.4053 15.2114 16.9023 15.4165 16.4531 15.6606C16.0039 15.895 15.6084 16.1245 15.2666 16.3491L13.1719 13.229C14.0117 12.6235 14.9932 12.1206 16.1162 11.7202C17.249 11.3198 18.5967 11.1196 20.1592 11.1196C22.3662 11.1196 24.1143 11.564 25.4033 12.4526C26.6924 13.3413 27.3369 14.5962 27.3369 16.2173Z" fill="#4F5B93"/>
                    <circle cx="21" cy="21.8433" r="19" stroke="#4F5B93" stroke-width="4"/>
                </svg>
                <p class="text-lg text-center">Schaue dir das Ergebnis an!</p>
            </div>
        </div>
    </section>
{% endblock %}
