{% extends "base.twig" %}

{% block title %}T3{% endblock %}

{% block content %}
    <h1 class="text-center text-5xl font-bold my-10">Testfall 3 - Gleichzeitige Geldüberweisungen</h1>
    <section class="mx-auto w-fit border border-gray-200 bg-white">
        <div class="flex items-center flex-col p-10 gap-5">
            <h2 class="text-3xl mb-5">Suche dir eine Bibliothek aus:</h2>
            <a href="/t3/parallel" class="text-xl font-bold text-white bg-[#669933] hover:opacity-80 px-5 py-2">parallel</a>
            <a href="/t3/reactphp" class="text-xl font-bold text-white bg-[#669933] hover:opacity-80 px-5 py-2">ReactPHP</a>
        </div>
    </section>
{% endblock %}
