{% extends "base.twig" %}

{% block title %}T3{% endblock %}

{% block content %}
    <h1 class="text-center text-5xl font-bold my-10">Testfall 3 - Verarbeitung von hochgeladenen Bildern</h1>
    <section class="mx-auto w-fit border border-gray-200 bg-white">
        {% if images %}
            <div class="flex items-center flex-col p-10">
                <a href="/t3" class="text-xl font-bold text-white bg-php-darker hover:opacity-80 px-5 py-2">Bilder löschen</a>
                <div class="flex flex-wrap gap-5 p-10">
                    {% for image in images %}
                        <div class="flex flex-col items-center">
                            <img src="/assets/{{ image }}" alt="image" class="w-40 h-40 object-cover">
                        </div>
                    {% endfor %}
                </div>
                {% if processingTime %}
                    <div class="flex flex-col items-center">
                        <p>Verarbeitungszeit: {{ processingTime }} Sekunden</p>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {% if kek %}
        <h1 class="text-center text-3xl font-bold my-10">{{kek}}</h1>
        {% endif %}

        <form action="/t3/upload" method="post" enctype="multipart/form-data">
            <div class="flex items-center flex-col p-10 gap-5 text-2xl">
                <p>Bitte lade mehrere Bilder hoch:</p>
                <input type="file" name="images[]" multiple="multiple" accept="image/*" required/>
                <div class="w-full h-px bg-black"></div>
                <p class="">Suche dir eine Bibliothek aus:</p>
                <div class="flex items-center gap-2">
                    <input type="radio" id="parallel" name="library" value="parallel" required checked>
                    <label for="parallel">parallel</label>
                    <input type="radio" id="fibers" name="library" value="fibers" required>
                    <label for="fibers">Fibers</label>
                </div>
                <div class="w-full h-px bg-black"></div>
            </div>
            <div class="flex items-center flex-col p-10 gap-5">
                <button type="submit" class="text-xl font-bold text-white bg-[#669933] hover:opacity-80 px-5 py-2">Starten</button>
            </div>
        </form>

    </section>
{% endblock %}
